/* Insert your styles here */

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
	box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #d0c3c3
}

.wrapper > * {
	padding: 5px;
	flex: 1 100%;
}

.header {
    font-size: 5em;


}

nav {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header2 {
    padding: 2px;
    font-size: 3em;
    text-align: left;

}

.div{
    display: inline;
    width: 60px;
    padding: 30px
}

.main {
    text-align: left;
	padding-left: 1em
}

.img1 {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.img2 {
	float: right;
}
  
.aside-1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    
}

/*.aside-2 {
    background-image: url("../../../media/rosie3.png");
    background-repeat: no-repeat;
    background-position: right center; 
    min-width: 200px;
    min-height: 200px;
}*/

@media all and (min-width: 600px) {
	.aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
	.main    { flex: 3 0px; }
	.nav	   { order: 1; }
	.aside-1 { order: 2; } 
	.main    { order: 3; }
	.aside-2 { order: 4; }
	.footer  { order: 5; }
}

body {
	padding: 1em; 
	font-family: 'Indie Flower', cursive;
}
