/* Insert your styles here */

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
	box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #d0c3c3
}

.wrapper > * {
	padding: 5px;
	flex: 1 100%;
}

.header {
    font-size: 5em;
}

.nav {
	position: -webkit-sticky; /* Safari */
	background: #d0c3c3;
	position: sticky;
	top: 2px;
    border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 2px solid black;
}

.navDiv{
    display: inline;
    width: auto;
    margin: 30px;
    padding: 30px
}

.heading2 {
    padding: 2px;
    font-size: 3em;
    text-align: left;
}

.heading3 {

    font-size: 2em;
    text-align: centre;
}

.aside-1 {
    margin: 10px;
	border: 2px solid black;
	border-radius: 4px;
	box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flexDiv{
	display: flex;  
    flex-flow: wrap;
}

.productDiv{
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 200px;
	background: white;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
    text-align: left;
	padding-left: 2em;
}

.img1 {
	margin: 20px;
	float: left;
}

.img2 {
	float: right;
}

.img3 {
	height: 200px;
}
  
.footer {
}

@media all and (min-width: 950px) {
	.main    { flex: 3 0px; }
	.nav	 { order: 1; }
	.aside-1 { order: 2; } 
	.main    { order: 3; }
	.footer  { order: 4; }
}

body {
	padding: 1em; 
	border-radius: 4px;
	font-family: 'Indie Flower', cursive;
	box-sizing: border-box;
}
